.image-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/waves.svg");
    height: 100vh;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 120rem;
    height: 80rem;
    border-radius: 1rem;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 3.2rem;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 3.2rem;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1000ms ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media (max-width: 1296px) {
    .image {
        width: 100rem;
        height: 70rem;
    }
}

@media (max-width: 1084px) {
    .image {
        width: 70rem;
        height: 50rem;
    }
}

@media (max-width: 767px) {
    .image {
        width: 50rem;
        height: 30rem;
    }
}

@media (max-width: 500px) {
    .image {
        width: 30rem;
        height: 20rem;
    }
}
